{% extends "layout.html" %}

{% block title %}Home - steamFinder{% endblock %}

{% block navbrand%}
<div class="container col-sm-6">
  <nav class="navbar-center navbar-expand-sm navbar-inverse navbar-fixed-top" style="background-color: #000000;">
      <div class="container-fluid">
          <div class="navbar-header center">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
              </button>
              <b>
                <a class="navbar-brand" style="color: #c09506;" href="/">STEAM</a>
                <a class="navbar-brand" style="color: #9d1212;" href="/">FINDER</a>
              </b>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar" style="font-size: 16px;">
              <ul class="nav navbar-nav">
              </ul>
              {% if current_user.is_authenticated %}
                      <ul class="nav navbar-nav navbar-right">
                          <li class="nav-item"><a class="nav-link" href="{{ url_for('home_page') }}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                          <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard_page') }}"><span class="glyphicon glyphicon-list"></span> Dashboard</a></li>                          
                          <li class="nav-item"><a class="nav-link" href="{{ url_for('profile_page') }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                          <li class="nav-item"><a class="nav-link" href="{{ url_for('logout_page')}}"><span class="glyphicon glyphicon-log-out"></span> Leave</a></li>
                      </ul>
              {% else %}
                      <ul class="nav navbar-nav navbar-right">
                          <li class="nav-item"><a class="nav-link" href="{{ url_for('home_page') }}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                          <li><a href="{{ url_for('login_page') }}"><i class="fas fa-user-circle"></i> Sign In</a></li>
                      </ul>
              {% endif %}
          </div>
      </div>
  </nav>
</div>
{% endblock %}

{% block body %}
<br><br>
<body style="background-color: #c09506;">
  <div class="container" style="background-color: #000000; margin-top: 5%;">
    <br><br>
    <div class="table-responsive" style="margin-bottom: 5rem;">
        <div class="col-sm-12">
            <h2 style="background-color: #c09506; color: rgb(255, 255, 255); 
                                        font-weight: 900; text-align: center; padding: 2rem;"><span class="glyphicon glyphicon-alert" style="color: red; font-size: 5rem;"> Page not found</span></h2>
            <h2 style="background-color: #c09506; color: rgb(255, 255, 255); 
                                        font-weight: 900; text-align: center; padding: 3.13rem;">We're sorry, we couldn't find the page you requested.</h2>
            <h2 style="background-color: #c09506; color: rgb(255, 255, 255); 
                                        font-weight: 900; text-align: center; padding: 3rem;"></h2>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <br>
          </div>
        </div>
    </div>
</body>
{% endblock %}

{% block footer %}
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark" style="margin-top: 10%; background-color: #000000;">
  <br>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
      <span class="glyphicon glyphicon-copyright-mark" style="color: white;"></span> 
      <b style="color: white;">
          &nbsp;SteamFinder <script>document.write(new Date().getFullYear())</script>
      </b>
  </div>
</footer>
{% endblock %}